a.navbar-brand.page-scroll {
	color: red;
}

body header {
	background-image: url(../img/white_pattern.jpg);
	background-repeat: repeat-y;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #fff;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.std-bg {
	background-image: url(../img/white_pattern.jpg);
	background-repeat: repeat-y;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #fff
}

.title-found-pets {
	margin-top: 35px;
	color: #333;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 46px;
	line-height: 46px;
}

.intro-message {
  position: absolute;
    top: 0;
    width: 30%;
	right:0;
}

.main-panel {
	margin-top: 40px;
}

.missing-panel {
	margin-top: 25px;
}

.spaced-20 {
	margin-top: 20px;
	padding-top: 55px;
}

div#recovered {
	padding-top: 75px;
}

.panel-body {
	/*background-color: #B0DEF5;*/ 
	background-color: #da0080;
	color: #FFFFFF;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: left;
}

.btn-pet {
	background-color: #30afe4;
	border: none;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-pet:hover {
	background-color: #5fd0ff;
	color: white;
}

.btn-pet-home{
margin-bottom:5%;	
}

input{
	text-align: center;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

input.lost-pet-input {
	background-color: #db0080;
	color: white;
	font-weight: bold;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 135%;
	border: none;
	margin-bottom: 13px;
	padding:25px;
	height:auto;
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

.common-text {
	color: #1F1F1F;
	margin-bottom: 5px;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

hr {
      background-color: #464646;
      height: 1.5px;
}

.pet-description {
	background-color: #ffffff;
	text-align: left;
	padding:10px;
}

.pet-thumbnail {
	background-color: #dedede;
	float: left;
	margin: 10px;
	padding-top: 2px;
	padding-left: 2px;
}

.pet-entry-small {
	/*background-color: #a0a0a0;*/
	padding-top: 4px;
	padding-bottom: 4px;
}

.pet-name {
	font-weight: bold;
	font-size: 130%;
}

.first-text{
margin-top:5%;	
}

.section-heading{
color: #009cde;	
}

#negative{
display:none;	
}

.navbar-shrink .nav li a{
color: #ffffff;	
}

footer{
background-color: #0072a2;
color: #ffffff;
}

footer a{
color: #ffffff;
}

.logo{
margin-top:120px;	
}

#missing, #thanks, #profile{
	position:absolute;
	top:40px;
	left:0;
	width:75%;
	height:auto;
	/*background-color:RGBA(255,255,255, 0.8);*/
z-index:6;
	background-image: url(../img/white_pattern.jpg);
	background-repeat: repeat-y;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	margin-top: 10%;
	margin-bottom: 5%;
	margin-left:15%;
	padding-bottom:3%;
	padding-top:3%;
	display:none;
	    box-shadow: 5px 5px 5px #dcdcdc;
}

#missing input, #profile input{
width: 100%;
padding:25px;
margin:5px;
background-color:transparent;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pink-title{
color: #da0080;	
text-align:center;	
}

#missing .pink{
border:2px solid #da0080;
color: #da0080;	
}



#missing .blue, #profile .blue{
border:2px solid #009cde;
color: #009cde;	
}

.blue-title{
color: #009cde;	
text-align:center;	
}

#bg-modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-color:RGBA(255,255,255, 0.9);
z-index:5;	
display:none;
}

.closemodal, .closelogin{
width:40px;
height:40px;
background-color:#cacaca;
position:absolute;
right:0;	
background-image: url(../img/close.jpg);
background-repeat: repeat;
background-attachment: scroll;
background-position: center center;
z-index:6;
background-size: cover;
}

.closemodal{
width:40px;
height:40px;
top:-45px;	
}

.closelogin{
width:20px;
height:20px;
bottom:-25px;	
}

.send{
width: 50% !important;
margin-left:25% !important;
padding:25px;
margin:5px;
background-color:#009cde !important;	
color:#ffffff;
border:none !important;
}

.sendphoto{
width: 50% !important;
margin-left:25% !important;
padding:25px;
margin:5px;
background-color:#db0080 !important;	
color:#ffffff;
border:none !important;
}

#login{
  background-attachment: scroll;
    background-image: url("../img/loginbg.png");
    background-position: center center;
    background-repeat: repeat;
    display: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 198px;
    padding-top: 40px;
    position: fixed;
    right: 123px;
    top: 70px;
    width: 175px;
    z-index: 7;
display:none;
}

#login a{
color:#ffffff;
text-decoration:none;	
}

#login .closemodal{
position: absolute !important;
bottom: -45px !important;	
}

#login input{
background-color:transparent;
border: 1px solid #ffffff;
color: #ffffff;
padding:10px;	
margin:2px;
width:90%;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#login .send{
background-color: #ffffff !important;
color: #bb007d;
padding:5px;
margin: 0 !important;
}
.register{
font-size: 80%;
width:100%;	
color: #ffffff;
}

.petfound, .petremove{
    margin: 4px;
    padding: 16px;
    width: 100%;
	text-align:center;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.petfound{
background-color: #009cde;
color: #ffffff;
}

.petremove{
background-color: #da0080;	
color: #ffffff;
}

.panel-body img{
border: 2px solid #ffffff;	
}

.bluebg{
background-color: #009cde;
color:#ffffff;
padding-top:5%;
padding-bottom:5%;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media only screen and (max-width : 749px){
#negative{
display:none !important;	
}

#positive{
display:none !important;	
}
}


@media only screen and (max-width : 568px){
	.intro-message {
    position: relative;
    width: 100%;
}
}
